body {
    margin:0;
}
.container{
    background-color:#c2f2fe;
    margin-top:0;
}
.item1{
    display:flex;
    margin-left:70rem;
    margin-right:auto;
    /* margin-top: 50px; */
}
.item2{
    display:flex;
    justify-content:center;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 40px;
    display:flex;
    justify-content:center;
}
h3 {
    /* font-size: 60px; */
    display:flex;
    justify-content:center;
}
h4 {
    font-size: 20px;
    display:flex;
    justify-content:center;
}
h5 {
    font-size: 20px;
    margin-left:0px;
    margin-right:10px;
    max-width:40rem;
}
h6 {
    font-size:20px;
    margin-left:0px;
    max-width:40rem;
}
b {
    font-size: 40px;
    display:flex;
    margin-left:10px;
    margin-top:50px;
}
.projects {
    margin-top:7rem;
}
.item3 {
    display:flex;
    justify-content:center;
}
.item4 {
    display:flex;
    margin-left: 500px;
}
.item5 {
    display:flex;
    justify-content:center;
}
.item6 {
    display:flex;
    justify-content:center;
    margin-top:50px;
}
.item7 {
    display:flex;
    margin-top: 50px;
    justify-content:center;
}
.item8 {
    margin:0;
    margin-left: 8rem;
}
.item9 {
    display:flex;
    justify-content:center;
}
.img1{
    margin-right: 5rem;
}

.img2{

}

.skills{
    max-width: 40rem;
}
.item12 {
    font-size:20px;
    padding-left:50px;
    margin:0px;
    margin-right:200px;
}
.item13 {
    height:90px;

    background-color: #c2f2fe;
}
.image {
    display:flex;
    justify-content:center;
}
.image2 {
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 7rem;
}
.gymtext {
    max-width:30rem;
}
.item11 {
    display:flex;
    /* margin-left:800px; */
    /* margin-top:80px; */
}
.item10 {
    display:flex;
    justify-content:center;
    margin-top:2rem;
    padding-top: 2rem;
    /* flex-direction:column; */
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display:flex;
    justify-content:center;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .pande {
    display:flex;
    flex-direction:row;
    /* justify-content:space-between;
    justify-content:center; */
    justify-content:space-around;
    /* max-width: 50%; */
    
  }
  .pande2 {
    display:flex;
    flex-direction:row;
    justify-content: space-around;

  }
  
  .p1 {
    background-color: #021526;
    display:flex;
    /* height:10rem;
    width:10rem; */
    border:8px solid #3fd8fe;

  }
  .p2 {
    background-color: #FEF3E2;
    /* height:10rem;
    width:10rem; */
    border:8px solid #3fd8fe;
  }
  .p3 {
    background-color: #FF4C4C;
    /* height:10rem;
    width:10rem; */
    border:8px solid #3fd8fe;

  }
  .p4 {
    background-color: #4535C1;
    /* height:10rem;
    width:10rem; */
    border:8px solid #3fd8fe;

  }

